.mainScreen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.selectLanguage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.selectTopOrEx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topicImageLoader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topAndEx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topAndEx label {
  margin: 10px;
}
.topAndEx input {
  margin: 10px;
}
.topAndExLabels label {
  margin: 10px;
}
.topAndExLabels input {
  margin: 10px;
}
.topAddButtonCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textAreaArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
}
