.slideBodyExercise{
    background-color: rgba(56,57,57,0.5);
}



.mainSlideExercise{
    padding-top:30px;
    display: grid;
    place-content: center;
    height: 100vh;
    width:100%;
}
.slideExercise{
    display: grid;
    place-content: center;
    justify-items: center;
    height: 90vh;
    width:100%;

}
.dataHeadExercise{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 90px;
    width: 100%;
    bottom:10px;
    text-align: center;
    font-size:1rem;
    font-weight: 600;
    background-color: lightblue;
    border:2px groove rgb(0, 10, 100);
    border-radius: 5px;

}
.dataImage>img{
    border-radius: 10px;
}
.dataDesc{
    width: 100%;
    position: relative;
    top:20px;
    text-align: justify;
    font-size:1rem;
    font-weight: 500;
}
.right-arrow{
    position: absolute;
    top:45%;
    right:20px;
    font-size: 3rem;
    color:black;
    z-index:10;
    cursor: pointer;
    user-select: none;
}
.left-arrow{
    position: absolute;
    top:45%;
    left:20px;
    font-size: 3rem;
    color:black;
    z-index:10;
    cursor: pointer;
    user-select: none;
}
.data {
    opacity: 0;
    transition-duration: 1s ease;
    width: 90%;
    position: relative;
    left: 5%;
    
}
  
.data.active {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    left: 5%;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.dataQue{
    border:2px groove darkgreen;
    border-radius: 5px;
    background-color: rgb(238, 157, 52);
    margin:10px;
    padding:0 10px 0 10px;
    
    font-weight: 600;  
}
.queIndex{
    position: relative;
    top: -15px;
    left: -25px;
    padding:0 20px 0 20px;
    
    background-color: brown;
    border:2px groove darkgreen;
    border-radius: 15px;
}
.queText{
    position: relative;
    top:-10px
}

.options{
    border:2px groove darkgreen;
    border-radius: 5px;
    background-color: violet;
    margin:11px 5px 10px 5px;
    padding:5px;
    cursor: pointer;
    font-weight: 600;  
}
.options:hover{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 0px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 0px rgba(0,0,0,0);
}

.selected{
  
    border:2px groove darkgreen;
    border-radius: 5px;
    background-color:aquamarine;
    margin:10px;
    padding:5px;
    cursor: pointer;
    font-weight: 600;
    opacity: 0.8;  
}


.finishExam{
    position: relative;
    border-radius: 10px;
    background-color: blue;
    color:white;
    border: 2px groove darkblue;
    margin: 100px 60px 50px 20px;
    padding:10px 25px;
    
}
.changeAnswer{
    border-radius: 10px;
    background-color:bisque;
    color:black;
    border: 2px groove darkblue;
}
.changeAnswerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.finishExam:hover{
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 2px 3px 15px 14px rgba(0,0,0,0.39); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 2px 3px 15px 14px rgba(0,0,0,0.39);
}

.finishExamContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}