.slideBody {
  background-color: white;
}
.mainSlide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttonCont {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.buttonCont button {
  margin: 10px 20px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.dataHeadLesson {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.dataImageLesson > img {
  border-radius: 10px;
}
.dataDesc {
  width: 100%;
  position: relative;
  text-align: justify;
  font-size: 1rem;
  font-weight: 500;
  text-indent: 15px;
}
.dataDesc h3 {
  text-align: center;
  margin: 10px 0;
}
.dataDesc p {
  margin-bottom: 5px !important;
}

.data {
  opacity: 0;
  transition-duration: 1s ease;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  position: relative;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 768px) {
  .mainSlide {
    margin: 40px;
  }
  .dataImageLesson > img {
    width: 300px;
  }
}
