.rowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowSpaceBetween {
  display: flex;
  justify-content: space-between;
}
nav {
  position: fixed;
  height: 55px;
  width: 100%;
  background-color: black;
  z-index: 5;
}

.logo {
  font-family: "impact", sans-serif;
  letter-spacing: 4px;
  font-size: 1.5em;
  margin-left: 40px;
  color: white;
}
.logo div {
  height: 49px;
  width: 41px;
  background: linear-gradient(
    77.61deg,
    #e7267a 4.51%,
    #64328a 125.66%,
    #2b4b9b 245.84%
  );
}

.menuMainItems {
  font-weight: 600;
  margin-top: 12px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding-left: 0;
}
nav li {
  color: white;
  display: block;
  float: left;
  padding: 10px 0 10px 0;
  min-width: 150px;
  position: relative;
}
.subUl {
  display: none;
}
.menuSubItems {
  padding-left: 15px;
}
.menuSubItems:hover li {
  animation-name: slideLi-x, slideLi-y;
  animation-delay: 0s, 0.5s;
  animation-duration: 1s, 1s;
  animation-iteration-count: 1, 1;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: ease-out, ease-out;
}
/*Animations are for nav lists items*/
@keyframes slideLi-x {
  from {
    left: 0;
  }
  to {
    left: 120px;
  }
}
@keyframes slideLi-y {
  from {
    top: 0;
  }
  to {
    top: -15px;
    padding-bottom: 0;
  }
}
.menuSubItems:hover ul,
.subUl:hover {
  visibility: visible;
  display: block;
  animation-name: slideUl;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes slideUl {
  from {
    padding-right: 0;
  }
  to {
    padding-right: 100px;
  }
}
.menuSubItems:hover {
  display: block;
  background-color: black;
  border-radius: 10px;
}
ul.subUl li {
  clear: both;
  width: 100%;
}
li:hover {
  color: #ffa279;
}
