
#line {
    position: fixed;
    height: 55px;
    width: 100%;
    background: linear-gradient(#585858, #ffffff);
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
    border-bottom: 2px solid black;
}
#line:hover{
    background: #ffffff;
   
}

#logo {
    margin: 20px 20px auto 30px;
}

.menuItemList {
    color: black;
    font-weight: 600;
    margin-top: 13px;
    margin-right: 40px;
}

ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

li {

    color: rgba(0,0,0,0.6);
    
    display: block;
    float: left;
    padding: 5px 5px 5px 15px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.6s;
   
    min-width: 80px;
}


li:hover {
    cursor: pointer;
}

.ul2 {
    display: none;

}


.li1:hover>ul,
.ul2:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    background: none;
    
}

.li2,
.li3,
.li4 { 
    clear: both;
    width: 100%;     
}

.li2:hover,
.li3:hover,
.li4:hover {
   
    color:black;
    text-decoration: underline;    
    
}




.li1:hover{
    display: block;
    background:#ffffff;
    border-radius: 10px;
    padding-bottom: 0;
   
}
